/* -----------------------------------
    Html reset
----------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* -----------------------------------
    Stile della pagina
----------------------------------- */
body {

    /* sfondo della pagina */
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    /* font della pagina */
    font-family: 'Poppins', sans-serif;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {

    /* box */
    height: auto;
    width: 900px;

    /* box style */
    margin-top: 20px;
    padding: 80px;
    border-radius: 16px;
    background-color: rgba(0,0,0,.5);

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;

}

.logo-container {

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {

    /* box */
    height: 80px;
    /* box style */
    margin: 20px;

}

h1 {

    /* font */
    font-size: 22px;
    /* font style */
    color: rgb(0,221,1);

}

.buttons-container {

    /* box */
    width: 100%;

    /* box style */
    padding: 3px;
    background-color: rgb(0,221,1);

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons-container button {

    /* box style */
    padding: 2px 5px;
    margin: 3px;

    /* font style */ 
    font-size: 12px;

}

.content-container {

    /* box */
    width: 100%;

    /* font style */
    color: white;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.block {

    /* box style */
    margin: 10px 0 10px 0;

    /* flex */
    display: flex;
    flex-direction: column;
    row-gap: 5px;

}

label {

    /* font style */
    font-size: 18px;
    font-weight: 500;

}

.block p {

    /* font style  */
    font-size: 12px;
    font-weight: 300;

}

.chargin-state {

    /* box */
    height: 22px;

    /* box style */
    border-radius: 4px;

}

#mono1-charge {

    /* box */
    width: 35%;

    /* box style */
    background-color: rgb(228, 154, 83);

}

#mono2-charge {

    /* box */
    width: 60%;

    /* box style */
    background-color: rgb(84, 193, 53);

}

#mono3-charge {

    /* box */
    width: 15%;

    /* box style */
    background-color: rgb(183, 62, 62);

}